header {
    position: sticky;
    top: 0px;
    z-index: 10;
}
header img {
    height: 96px;
}
.cor-de-fundo {
    background-color: #026E81;
}
.cor-link {
color:aliceblue;
}
.cor-link:hover {
    color:aqua;
    }
.banner-principal {
    width:100%;
}
.texto-conteudo h2 {
    font-size: 18px;
}
.imagem-conteudo {
    height: 100%;
    width: 100%;
}
footer p {
    text-align: center;
    justify-content: center;
    font-size: 14px;
}
.titulo {
    text-align: center
}
.card-destino span {
    display: flex;
    justify-content: center;
    color:black;
}
.card-destino img {
    width: 100%;
}
.card-destino {
    border: solid 2px goldenrod;
    padding: 10px;
    margin-bottom: 24px;
}
.card-destino:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.img-destino img {
    width: 100%;
}
.img-destino {
    border: solid 3px goldenrod;
    padding: 10px;
    margin-bottom: 24px;
}
.pagamento img {
    height: 40px;
}
.pagamento {
    margin-bottom: 24px;
}